
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Manrope:wght@400;500;600;700&display=swap');

.logo{
  font-family: 'Great Vibes', cursive;
}
.title, .text{
font-family: 'Manrope', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}